/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-01-10, 15:44:00
    Author     : Szaman
*/

body
{
    background-color:  #7ab4e2;
}

h1
{
    color: white;
    text-align: center;
    font-family: "Segoe UI Semibold";
}

h2
{
    color: white;
    text-align: center;
    font-family: "Segoe UI Semibold";
}

.description-table, description-th, description-td 
{
    align-content: center;    
    font-family: "Segoe UI Semibold";
    font-size: large;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    width: 50%;
}

.content-table, content-th, content-td 
{
    align-content: center;    
    font-family: "Segoe UI Semibold";
    font-size: large;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

.data-table
{
    align-content: center;    
    font-family: "Segoe UI Semibold";
    font-size: large;
    color: white;
    width: 15%;
}

.big-data-table
{  
    font-family: "Segoe UI Semibold";
    font-size: large;
    color: white;
    width: 30%;
}

.form-table
{
    align-content: center;    
    font-family: "Segoe UI Semibold";
    font-size: large;
    color: white;
    width: 15%;
}

.form-table td
{
    display: flex; 
    flex-direction: column;
    text-align: left;
}

.big-data-row
{
    width: 30% !important;
}

.data-row
{
    width: 100px !important;
}

.blank-row
{
    height: 30px !important;
}

input[type=password]
{
    -webkit-transition-duration: 0.1s;
    background-color: #FFFFFF;
    border: 2px solid #153f60;
    color: black;
    font-weight: bold;
    height: 25px;
    width: 100%;
}

input[type=password]:hover
{
    background-color: #fcfadb;
    border: 2px solid #153f60;
    color: black;
}

input[type=password]:active
{
    background-color: white;
    border: 2px solid #153f60;
    color: black;
}

input[type=text]
{
    -webkit-transition-duration: 0.1s;
    background-color: #FFFFFF;
    border: 2px solid #153f60;
    color: black;
    font-weight: bold;
    height: 25px;
    width: 100%;
}

input[type=text]:hover
{
    background-color: #fcfadb;
    border: 2px solid #153f60;
    color: black;
}

input[type=text]:active
{
    background-color: white;
    border: 2px solid #153f60;
    color: black;
}

input[type=number]
{
    -webkit-transition-duration: 0.1s;
    background-color: #FFFFFF;
    border: 2px solid #153f60;
    color: black;
    font-weight: bold;
    height: 25px;
    width: 50%;
}

input[type=number]:hover
{
    background-color: #fcfadb;
    border: 2px solid #153f60;
    color: black;
}

input[type=number]:active
{
    background-color: white;
    border: 2px solid #153f60;
    color: black;
}

input[type=submit]
{
    -webkit-transition-duration: 0.1s;
    background-color: #23689f;
    border: 3px solid #23689f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 102%;
}

input[type=submit]:hover
{
    background-color: #153f60;
    border: 3px solid #153f60;
}

input[type=submit]:active
{
    background-color: white;
    border: 3px solid #23689f;
    color: black;
}

.SeatFree 
{
    -moz-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    -webkit-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background-color: #e9ebee;
    border: 2px solid #153f60;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    width: 60px;
    height: 60px;
}

.SeatFree:hover 
{
    background-color: #989898;
}

.SeatFree:active 
{
    position: relative;
}

.SeatReserved 
{
    -moz-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    -webkit-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background-color: #E00000;
    border: 2px solid #153f60;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    width: 60px;
    height: 60px;
}

.SeatReserved:hover 
{
    background-color: #D00000;
}

.SeatReserved:active 
{
    position: relative;
}

.SeatChosen 
{
    -moz-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    -webkit-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background-color: #44c767;
    border: 2px solid #153f60;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    width: 60px;
    height: 60px;
}

.SeatChosen:hover 
{
    background-color: #5cbf2a;
}

.SeatChosen:active 
{
    position: relative;
}

.SeatMissing 
{
    -moz-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    -webkit-box-shadow: inset 0px 0px 0px 0px #3dc21b;
    background-color: #A8A8A8;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    visibility: hidden;
}

input.clicked 
{
    background-color: red;
}
